.navbar {
    display: flex;
    height: 100px;
    justify-content: right;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 50px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.judul {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: auto;
}

li{
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    color: black;
    font-size: 25px;
}

li:hover{
    background-color: blanchedalmond;
    transition: .3s ease-in-out;
    transition-delay: .01s;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: aliceblue;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    border-radius: 10px;
}

h2, h3 {
    text-align: center;
}

.description {
    margin: 5px 0; /* Memberi sedikit jarak vertikal */
    text-align: center; /* Menghapus perataan teks */
}

/* PENAMBAHAN CSS UNTUK MEMBUAT SEJAJAR START */
.profile-details {
    display: flex; /* Mengaktifkan Flexbox */
    flex-wrap: wrap; /* Izinkan item pindah ke baris baru jika tidak muat */
    justify-content: center; /* Posisikan item di tengah */
    gap: 10px 30px; /* Jarak vertikal dan horizontal antar item */
    text-align: left; /* Teks di dalam item rata kiri */
    margin: 20px 0;
}

hr {
    border: 1px solid #ddd;
    margin: 25px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

th, td {
    border: 1px solid #a0a0a0;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #96D4D4;
}

td:hover {
    background-color: #f1f1f1;
}

.biodata {
    text-align: left; /* Mengatur teks di dalam biodata agar rata tengah */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}